### **Formatting the CSV**

In [1]:
import pandas as pd

file = "QueryResults.csv"
df = pd.read_csv(file, names=["DATE", "LANGUAGE", "POSTS"], header=0)

In [2]:
df.head()

                  DATE    LANGUAGE  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [3]:
df.tail()

                     DATE LANGUAGE  POSTS
1986  2020-07-01 00:00:00        r   5694
1987  2020-07-01 00:00:00       go    743
1988  2020-07-01 00:00:00     ruby    775
1989  2020-07-01 00:00:00     perl    182
1990  2020-07-01 00:00:00    swift   3607

### **Formmating the DATE Column**

In [7]:
type(df.DATE[0])

df.DATE = pd.to_datetime(df.DATE)
df

           DATE    LANGUAGE  POSTS
0    2008-07-01          c#      3
1    2008-08-01    assembly      8
2    2008-08-01  javascript    162
3    2008-08-01           c     85
4    2008-08-01      python    124
...         ...         ...    ...
1986 2020-07-01           r   5694
1987 2020-07-01          go    743
1988 2020-07-01        ruby    775
1989 2020-07-01        perl    182
1990 2020-07-01       swift   3607

[1991 rows x 3 columns]

### **Formmating the Cells using the pivot**

In [14]:
formatted_df = df.pivot(index="DATE", columns="LANGUAGE", values="POSTS")
formatted_df.fillna(0, inplace=True)  # Replacing NaN with "0"
formatted_df.isna().values.all()
formatted_df.head()

LANGUAGE,assembly,c,c#,c++,delphi,go,java,javascript,perl,php,python,r,ruby,swift
DATE,,,,,,,,,,,,,,
2008-07-01,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-08-01,8.0,85.0,511.0,164.0,14.0,0.0,222.0,162.0,28.0,161.0,124.0,0.0,73.0,0.0
2008-09-01,28.0,321.0,1649.0,755.0,105.0,0.0,1137.0,640.0,131.0,482.0,542.0,6.0,290.0,0.0
2008-10-01,15.0,303.0,1989.0,811.0,112.0,0.0,1153.0,725.0,127.0,617.0,510.0,0.0,249.0,0.0
2008-11-01,17.0,259.0,1730.0,735.0,141.0,0.0,958.0,579.0,97.0,504.0,452.0,1.0,160.0,0.0

In [16]:
formatted_df.shape

(145, 14)

In [24]:
formatted_df.index

DatetimeIndex(['2008-07-01', '2008-08-01', '2008-09-01', '2008-10-01',
               '2008-11-01', '2008-12-01', '2009-01-01', '2009-02-01',
               '2009-03-01', '2009-04-01',
               ...
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
               '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01',
               '2020-06-01', '2020-07-01'],
              dtype='datetime64[ns]', name='DATE', length=145, freq=None)

In [18]:
formatted_df.columns

Index(['assembly', 'c', 'c#', 'c++', 'delphi', 'go', 'java', 'javascript',
       'perl', 'php', 'python', 'r', 'ruby', 'swift'],
      dtype='object', name='LANGUAGE')

### _Visulize Popularity of C++_

In [19]:
import matplotlib.pyplot as plt