In [5]:
import pandas as pd

file_path = r"salaries_by_college_major.csv"
df = pd.read_csv(file_path)
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

#### Cleaning the Data

In [12]:
clean_df = df.drop(50)  # Removing the row with NaN (Not a Number Values)

#### College Major with highest Starting salaries

In [45]:
def college_major_with_highest_starting_salaries():
    major_with_highest_starting_salary = clean_df["Starting Median Salary"]
    highest_starting_salaries = major_with_highest_starting_salary.max()
    lowest_starting_salaries = major_with_highest_starting_salary.min()
    name_of_major = clean_df.loc[43, "Undergraduate Major"]

    print(
        f"Name of Major {name_of_major}\nMajor with Maximum Salaries {highest_starting_salaries}\nMajor with lowest Starting Salary {lowest_starting_salaries}"
    )


college_major_with_highest_starting_salaries()

Name of Major Physician Assistant
Major with Maximum Salaries 74300.0
Major with lowest Starting Salary 34000.0

#### College Major with Highest Mid Career Salary

In [51]:
def College_Major_with_Highest_Mid_Career_Salary():
    index_highest_mid_salary = clean_df["Mid-Career Median Salary"].idxmax()

    name = clean_df.loc[8, "Undergraduate Major"]
    salary = clean_df["Mid-Career Median Salary"].max()

    print(f"Name: {name}\nSalary: {salary}")


College_Major_with_Highest_Mid_Career_Salary()

Name: Chemical Engineering
Salary: 107000.0

#### Lowest Starting and mid Career Salary

In [59]:
def Lowest_Starting_n_Mid_career_Salary():
    pass


min_starting_salary = clean_df["Starting Median Salary"].min()
index_of_min_starting_salary = clean_df["Starting Median Salary"].idxmin()
name = clean_df.loc[index_of_min_starting_salary, "Undergraduate Major"]

# Mid Career Salary
min_starting_salary = clean_df["Starting Median Salary"].min()
index_of_min_starting_salary = clean_df["Starting Median Salary"].idxmin()
name = clean_df.loc[index_of_min_starting_salary, "Undergraduate Major"]

'Spanish'